/* this css file will only style the homepage of our site */

.cat-photo {
  margin: 10px;
  max-width: 500px;
}

.frogbus-photo {
  margin: 10px;
  max-height: 400px;
}

.swing-photo {
  margin: 10px;
  max-height: 400px;
}

.mycat-photo {
  margin: 10px;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  color:#182641
}