body,#content {
  background-image: url(../img/a5ab7d56e3da8c03b3a67779da7716c0.gif);
  background-size: 100vw 100vh;
}

#content {
  border: solid 0px #0b8c68;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 2px #148a81;
  background-color:rgba(245, 217, 156, 0.668);
}

h1 {
  color: #21516c;
  text-align: center;
  text-shadow: -1px -1px 0 #e6f2ef, 1px -1px 0 #e6f2ef, -1px 1px 0 #e6f2ef, 1px 1px 0 #e6f2ef;}

h2 {
  color:#1c6c7a;
}

.h1-special {
  color:#ac1f57;
}

p{
  color:#1b1e4f;
}

#challenges p {
  display:none;
}

.challenge-special {
  display:block!important;
}

.problems-special {
  font-size: x-large;
  font-weight: bold;
  font-family:'Lucida Sans Unicode';
  color:#ff0080;
}

.solling {
  max-width: 100px;
}