body,#content {
  background-color: #2c1d36;
}

#content {
  border: solid 0px #0b8c68;
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #83a9b8;
    background-color: #1f192b;
  }

h1 {
  color: #f2e8f6;
  text-align: center;}

h2 {
  color:#905eb9;
}

p{
  color:#f2e8f6
}

pre{
  color:#905eb9
}


