body,#content {
  background-color: #FB6376;
}

#content {
  border: solid 0px #0b8c68;
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #FCB1A6;
    background-color: #793f5a;
  }

h1 {
  color: #FFF9EC;
  text-align: center;
}

h2 {
  color:#ffdccc;
}

p{
  color:#fcb1a6;
}

/* visited link */
a:visited {
  color: #FB6376;
  ;
}

/* mouse over link */
a:hover {
  color: #FCB1A6;
}

/* selected link */
a:active {
  color:#ffdccc;
} 
