body {
  background-image: url(../img/fantasy_pixel_background_by_artificialhub_dfwy0mp-fullview.jpg);
  background-size: 100vw 100vh;
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #391142;
    background-color:rgba(75, 22, 82, 0.688);
  }

h1 {
  color: #351e58;
  text-align: center;
  text-shadow: -1px -1px 0 #e6f2ef, 1px -1px 0 #e6f2ef, -1px 1px 0 #e6f2ef, 1px 1px 0 #e6f2ef;}

h2 {
  color:#f98674;
}

p{
  color:#fff0e7
}

/* visited link */
a:visited {
  color: #bf85eb;
  ;
}

/* mouse over link */
a:hover {
  color: rgb(181, 12, 247);
}

/* selected link */
a:active {
  color: rgb(255, 0, 170);
} 